.mainHeader {
  background-color: #fff;
  @media (max-width: 1199px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  @media (max-width: 959px) {
    background: linear-gradient(to bottom, #fff, #f7f7f7);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  @media (min-width: 960px) {
    // background: linear-gradient(to right, #f7f7f7 30%, #fff 70%);
  }
  .contentWrap {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    @media (max-width: 959px) {
      justify-content: center;
      border-bottom: 1px solid #e6e6e6;
    }
    @media (min-width: 960px) {
      justify-content: space-between;
    }
  }

  .fixedHeader & {
    @media (min-width: 1200px) {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      .contentWrap {
        @media (min-width: 1200px) {
          height: 0;
          padding: 0;
        }
      }
    }
  }
}

.brandLogo {
  display: flex;
  align-items: center;
  figure {
    width: 66px;
    margin-right: 4px;
    @media (min-width: 960px) {
      width: 80px;
      margin-right: 10px;
    }
    img {
      max-width: 100%;
      display: block;
    }
  }
  .brandName {
    color: #000;
    font-size: 20px;
    font-family: "Bubblegum Sans", cursive;
    display: inline-flex;
    align-items: center;
    letter-spacing: 1px;
    @media (min-width: 960px) {
      font-size: 25px;
    }
  }
  .fName {
    color: #7bb149;
    margin-right: 6px;
  }
  .brandDesc {
    color: #000;
    font-size: 16px;
    font-family: "Teko", sans-serif;
    transform: translateY(-3px);
    @media (min-width: 960px) {
      font-size: 20px;
    }
  }
  .fixedHeader & {
    @media (min-width: 1200px) {
      position: fixed;
      top: 5px;
      left: 10px;
      z-index: 10;
      figure {
        width: 50px;
      }
      .brandName {
        font-size: 18px;
      }
      .brandDesc {
        font-size: 14px;
      }
    }
  }
}

// .logo {
//   @media (max-width: 959px) {
//     width: 200px;
//   }
//   @media (min-width: 960px) {
//     width: 300px;
//   }
//   &::before {
//     content: "";
//     display: block;
//     width: 100%;
//     padding-bottom: 43%;
//     background: url("../images/logo-main.jpg") no-repeat;
//     background-size: 100%;
//   }
//   .fixedHeader & {
//     @media (min-width: 960px) {
//       width: 70px;
//       position: fixed;
//       top: 5px;
//       left: 10px;
//       z-index: 1;
//       &:before {
//         padding-bottom: 70px;
//         background-image: url("../images/logo-small.png");
//         background-size: cover;
//       }
//     }
//   }
// }

.btn.bookAppoinment {
  isplay: none;
  @media (max-width: 959px) {
    display: none;
  }
  @media (min-width: 960px) {
    display: inline-flex;
  }
  .fixedHeader & {
    @media (min-width: 1200px) {
      position: fixed;
      top: 10px;
      right: 10px;
      z-index: 1;
      font-size: 1.4rem;
      min-width: 50px;
      padding: 0 1rem;
      height: 40px;
      &:hover {
        transform: none;
      }
    }
  }
}

.hamburger {
  cursor: pointer;
  @media (max-width: 959px) {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
  }
  @media (min-width: 960px) {
    display: none;
  }
  i {
    width: 30px;
    display: block;
    height: 3px;
    // background: linear-gradient(to right, #08a7e3, #37d6c0);
    background: #777;
    &:nth-child(2) {
      margin: 6px 0;
    }
  }
}

.mainNav {
  @media (max-width: 959px) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 2;
    animation: justFade 0.3s both;
    &.show {
      display: block;
      nav {
        animation: fadeRightBig 0.3s ease 0.2s both;
      }
    }
  }
  nav {
    position: relative;
    background: #fff;
    display: flex;
    @media (max-width: 959px) {
      width: 280px;
      height: 100%;
      overflow: auto;
      padding: 40px 12px 16px;
      flex-direction: column;
    }
    @media (min-width: 960px) {
      height: 54px;
      justify-content: center;
      border-top: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
    @media (min-width: 1200px) {
      .fixedHeader & {
        height: 60px;
        padding-right: 50px;
      }
    }
  }
  a {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: #313131;
    text-decoration: none;
    display: inline-flex;
    align-items: center;

    @media (max-width: 959px) {
      width: 100%;
      line-height: 44px;
      padding-left: 12px;
      border-bottom: 1px solid #ddd;
    }
    @media (min-width: 960px) {
      margin: 0 1.5vw;
      &:not(.active)::after {
        content: "";
        position: absolute;
        top: calc(50% + 12px);
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        background: #08a7e3;
        width: 0;
        transition: 0.18s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }

    &.active {
      color: #07a7e3;
      &:before {
        content: "";
        position: absolute;
        left: 0;
      }
      @media (max-width: 959px) {
        &:before {
          top: 8px;
          bottom: 8px;
          width: 4px;
          background-image: linear-gradient(to bottom, #07a7e3, #37d6c0);
        }
      }
      @media (min-width: 960px) {
        &:before {
          top: 0;
          right: 0;
          height: 4px;
          background-image: linear-gradient(to right, #07a7e3, #37d6c0);
        }
      }
    }
  }
  .closeMenu {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ccc;
    font-size: 24px;
    cursor: pointer;
    @media (min-width: 960px) {
      display: none;
    }
  }
}

/*

@media (max-width: 1023px) {}
  @media (min-width: 1024px) {}

*/

@keyframes justFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
