@import "header";
@import "icomoon";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  height: 100%;
  font-size: 7px;
  @media (min-width: 360px) {
    font-size: 9px;
  }
  @media (min-width: 1200px) {
    font-size: 10px;
  }
  @media (min-width: 1600px) {
    font-size: 11px;
  }
}

body {
  min-height: 100vh;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #343434;
  // transition: padding 0.12s;

  --swiper-navigation-size: 3rem;
  --swiper-navigation-color: #fff;
  --swiper-pagination-bullet-inactive-color: rgba(255, 255, 255, 0.5);
  --swiper-pagination-color: #fff;

  @media (min-width: 1024px) {
    --swiper-navigation-size: 4rem;
  }

  @media (max-width: 959px) {
    padding-top: 107px;
  }

  &.fixedHeader {
    padding-top: 200px;
  }
}

.contentWrap {
  max-width: 1240px;
  margin: 0 auto;
  @media (max-width: 1300px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.headerBand {
  background: linear-gradient(to right, #08a7e3, #37d6c0);

  h1 {
    color: #fff;
    font-size: 2.8rem;
    font-weight: 400;
    height: 10rem;
    display: flex;
    align-items: center;
  }
}

.bodyContent {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pageIntro {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  > * {
    flex: 0 0 100%;
  }
  @media (max-width: 767px) {
    figure {
      margin-bottom: 20px;
    }
  }
  @media (min-width: 768px) {
    padding: 0 20px;
    figure {
      flex: 0 0 calc(50% - 40px);
    }
    section {
      flex: 0 0 50%;
      padding-left: 40px;
    }
  }

  figure {
    border-radius: 10px;
    overflow: hidden;
    img {
      max-width: 100%;
      display: block;
    }
  }

  h2 {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 0.8em;
  }

  p {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.btn {
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  font-weight: 500;
  font-size: 1.8rem;
  min-width: 200px;
  height: 48px;
  color: #fff;
  background: linear-gradient(to right, #08a7e3, #37d6c0);
  border-radius: 5px;
  display: inline-flex;
}

.pageDesc {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 5rem;
  text-align: center;
}

.bookForm {
  > div {
    margin-bottom: 2rem;
  }

  .btnWrap {
    justify-content: center;
  }
  label {
    display: block;
  }
  @media (min-width: 600px) {
    display: flex;
    flex-wrap: wrap;
    > div {
      padding: 0 10px;
    }
    .fullCol {
      flex: 0 0 100%;
      display: flex;
      align-items: center;
    }
    .col2 {
      flex: 0 0 50%;
    }
  }
}
.bookAppWrap {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  margin-bottom: 10rem;
  @media (max-width: 1023px) {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  aside,
  section {
    flex: 0 0 100%;
  }
  aside {
    background: #32b8da;
    padding: 3rem;
    @media (max-width: 1023px) {
      order: 2;
      border-radius: 0 0 10px 10px;
    }

    p {
      padding: 1rem 0;
      display: flex;
      font-size: 1.5rem;
      justify-content: space-between;
      border-bottom: 1px dashed rgba(255, 255, 255, 0.35);
    }
    @media (min-width: 1024px) {
      flex: 0 0 30rem;
      border-radius: 10px 0 0 10px;
      p {
        padding: 2rem 0;
      }
    }
  }
  h2 {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .bookFormWrap {
    background: #07a7e3;
    padding: 3rem;
    @media (max-width: 1023px) {
      order: 1;
      border-radius: 10px 10px 0 0;
    }
    @media (min-width: 1024px) {
      flex: 0 0 calc(100% - 30rem);
      border-radius: 0 10px 10px 0;
    }
  }
  .mat-form-field {
    display: block;
    width: 100%;
  }
  .mat-select {
    display: flex;
    align-items: center;
    width: 100%;
    color: #fff;
    font-family: inherit;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 22px;
    height: 44px;
    padding: 0 15px;
    outline: 0;
    &:hover,
    &:focus {
      border-color: #fff;
    }
    span.mat-select-placeholder {
      color: #fff;
      font-size: 13px;
    }
  }
  .mat-select-value {
    color: #fff;
  }
  .mat-select-trigger {
    display: block;
    width: 100%;
  }
  .mat-select-arrow {
    color: #fff;
  }
  .mat-select-value-text {
    font-size: 1.4rem;
  }

  ::-webkit-input-placeholder {
    color: #eee;
  }

  :-ms-input-placeholder {
    color: #eee;
  }

  ::placeholder {
    color: #eee;
  }

  .readMoreBtn {
    color: #07a7e3;
    margin-top: 2rem;
    padding: 0 3rem;
    @media (max-width: 1023px) {
      width: 100%;
    }
  }
}

.appTextbox {
  width: 100%;
  color: #fff;
  font-family: inherit;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 22px;
  height: 44px;
  padding: 0 15px;
  outline: 0;
  font-size: 1.4rem;
  &:hover,
  &:focus {
    border-color: #fff;
  }
}

.readMoreBtn {
  min-width: 15rem;
  height: 5rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #5d7d4e;
  background: linear-gradient(to bottom, #fff, #e1e1e1);
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.4rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

button {
  cursor: pointer;
}

.mat-tab-label {
  height: 60px !important;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 500;
  border: 1px solid #ccc;
  margin: 0 2px;
  border-radius: 3px;
  opacity: 1 !important;
  color: #767676;
  @media (max-width: 767px) {
    padding: 0 5px !important;
    max-width: 33.3vw;
  }
}
.mat-tab-label-active {
  background: linear-gradient(to right, #08a7e3, #37d6c0);
  color: #fff;
  border-color: #08a7e3;
}
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #08a7e3;
}

.whyChooseUsTab {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  figure {
    width: 200px;
    max-width: 200px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.6rem;
    line-height: 1.6;
  }

  @media (max-width: 599px) {
    flex-direction: column;
    align-items: center;

    figure {
      margin-bottom: 3rem;
    }
  }
  @media (min-width: 600px) {
    section {
      flex: 0 0 calc(100% - 250px);
      margin-left: 50px;
    }
  }
}

.whyUsTab {
  @media (max-width: 767px) {
    margin: 0 -20px;
  }
}

.g-image-item {
  background-size: contain !important;
}
.g-backdrop {
  background: rgba(0, 0, 0, 0.8) !important;
  opacity: 1 !important;
}
