<div class="innerpage">
  <div class="headerBand">
    <div class="contentWrap">
      <h1>Contact Us</h1>
    </div>
  </div>
  <div class="bodyContent">
    <div class="contentWrap">
      <div class="contactUs">
        <form action="" [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <h3>
            For appointments and queries about our dental services, reach out to
            us now.
          </h3>
          <div>
            <input
              type="text"
              class="textbox"
              placeholder="Name"
              formControlName="name"
            />
            <mat-error
              *ngIf="
                myForm.get('name')?.invalid &&
                (myForm.get('name')?.dirty || myForm.get('name')?.touched)
              "
            >
              Please provide a name.
            </mat-error>
          </div>
          <div>
            <input
              type="email"
              class="textbox"
              placeholder="Email"
              formControlName="email"
            />
            <mat-error
              *ngIf="
                myForm.get('email')?.invalid &&
                (myForm.get('email')?.dirty || myForm.get('email')?.touched)
              "
            >
              {{
                myForm.get("email")?.errors?.required
                  ? "Please provide an Email."
                  : "Please enter a valid Email"
              }}
            </mat-error>
          </div>
          <div>
            <input
              type="number"
              class="textbox"
              placeholder="Mobile Number"
              formControlName="phoneNo"
            />
            <mat-error
              *ngIf="
                myForm.get('phoneNo')?.invalid &&
                (myForm.get('phoneNo')?.dirty || myForm.get('phoneNo')?.touched)
              "
            >
              Please provide a Phone number.
            </mat-error>
          </div>
          <div>
            <textarea
              name=""
              id=""
              cols="30"
              rows="10"
              class="textbox"
              placeholder="Message"
              formControlName="message"
            ></textarea>
            <mat-error
              *ngIf="
                myForm.get('message')?.invalid &&
                (myForm.get('message')?.dirty || myForm.get('message')?.touched)
              "
            >
              Please provide a Message.
            </mat-error>
          </div>
          <button type="submit" class="btn">Send</button>
        </form>
        <div class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.4470798691123!2d80.25891721525086!3d13.007177017614948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5267ec03d3ed1f%3A0x967992888e3cb454!2sDent%20Eazee%20Dental%20Clinic!5e0!3m2!1sen!2sin!4v1643735075297!5m2!1sen!2sin"
            width="100%"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
