<div class="innerpage">
  <div class="headerBand">
    <div class="contentWrap">
      <h1>About Us</h1>
    </div>
  </div>
  <div class="bodyContent">
    <div class="contentWrap">
      <div class="pageIntro">
        <figure>
          <img src="../../assets/images/image1.jpg" alt="">
        </figure>
        <section>
          <h2>Welcome to Denteazee Dental Clinic</h2>
          <p>Dentistry is an ever-changing field with new advances in technology continually appearing. Having started our journey in 2009 with an aim to deliver quality dental treatment at an affordable price, we have flourished with thousands of patient compliments over the years. At Denteazee we aim to be at the forefront and offer patients the latest treatments available to make the experience as comfortable as possible.  The dentists at Denteazee are continually updating their skills and knowledge and regularly attend post-graduate lectures and courses.</p>
        </section>
      </div>
    </div>
    <div class="meetOurTeam">
      <div class="contentWrap">
        <h2>Meet Our Team</h2>
        <ul>
          <li>
            <figure></figure>
            <h3>Dr. Phani Babu <small>BDS, MDS</small></h3>
            <h4>Chief Doctor<br>Pediatric Dentist<br>(Gold Medalist 2009)</h4>
            <div class="socialIcons">
              <a href="" class="icon-facebook"></a>
              <a href="" class="icon-twitter"></a>
              <a href="" class="icon-instagram"></a>
            </div>
          </li>
          <li>
            <figure></figure>
            <h3>Dr. Vimala Geetha <small>BDS, MDS</small></h3>
            <h4>Director<br>Pediatric Dentist<br>Cosmetic Dentist<br>Smile Designing specialist
              </h4>
            <div class="socialIcons">
              <a href="" class="icon-facebook"></a>
              <a href="" class="icon-twitter"></a>
              <a href="" class="icon-instagram"></a>
            </div>
          </li>
          <li>
            <figure></figure>
            <h3>Dr. Ilavazhagan<small>MBBS</small></h3>
            <h4>Anaesthesiologist</h4>
            <div class="socialIcons">
              <a href="" class="icon-facebook"></a>
              <a href="" class="icon-twitter"></a>
              <a href="" class="icon-instagram"></a>
            </div>
          </li>
          <li>
            <figure></figure>
            <h3>Dr. Aby John<small>BDS, MDS</small></h3>
            <h4>Endodontist<br>Root canal specialist</h4>
            <div class="socialIcons">
              <a href="" class="icon-facebook"></a>
              <a href="" class="icon-twitter"></a>
              <a href="" class="icon-instagram"></a>
            </div>
          </li>
          <li>
            <figure></figure>
            <h3>Dr. Barath<small>BDS, MDS</small></h3>
            <h4>Endodontist<br>Root canal specialist</h4>
            <div class="socialIcons">
              <a href="" class="icon-facebook"></a>
              <a href="" class="icon-twitter"></a>
              <a href="" class="icon-instagram"></a>
            </div>
          </li>
          <li>
            <figure></figure>
            <h3>Dr. Sunitha Raja<small>BDS, MDS</small></h3>
            <h4>Implantologist</h4>
            <div class="socialIcons">
              <a href="" class="icon-facebook"></a>
              <a href="" class="icon-twitter"></a>
              <a href="" class="icon-instagram"></a>
            </div>
          </li>
          <li>
            <figure></figure>
            <h3>Dr. Anand Mohan<small>BDS, MDS</small></h3>
            <h4>Implantologist<br>Periodontist<br>Gum
              Specialist
              </h4>
            <div class="socialIcons">
              <a href="" class="icon-facebook"></a>
              <a href="" class="icon-twitter"></a>
              <a href="" class="icon-instagram"></a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- <div class="patientsSay">
      <div class="contentWrap">
        <h2>What Our Patients Are Saying</h2>
        <swiper class="mySwiper" [config]="config">
          <ng-template swiperSlide>
            <div class="patientCommentItem">
              <figure style="background-image: url('../../assets/images/profile.jpg');"></figure>
              <div class="desc">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis,
                facere!
              </div>
              <div class="username">- John Doe</div>
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div class="patientCommentItem">
              <figure style="background-image: url('../../assets/images/profile.jpg');"></figure>
              <div class="desc">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis,
                facere!
              </div>
              <div class="username">- John Doe</div>
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div class="patientCommentItem">
              <figure style="background-image: url('../../assets/images/profile.jpg');"></figure>
              <div class="desc">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis,
                facere! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis,
                facere!
              </div>
              <div class="username">- John Doe</div>
            </div>
          </ng-template>
        </swiper>
      </div>
    </div> -->
  </div>
</div>
