<div class="bookAppWrap">
  <aside>
    <h2>Opening Hours</h2>
    <p><span>Monday - Friday</span><span>10.00 - 20.00</span></p>
    <p><span>Saturday</span><span>10.00 - 12.00</span></p>
    <p><span>Sunday</span><span>Holiday</span></p>
  </aside>
  <section class="bookFormWrap">
    <h2>Booking a Visit</h2>
    <form action="" class="bookForm">
      <div class="fullCol">
        <label>Select Department</label>
        <mat-select>
          <mat-option
            *ngFor="let department of departments"
            [value]="department.value"
          >
            {{ department.viewValue }}
          </mat-option>
        </mat-select>
      </div>
      <div class="col2">
        <input type="text" placeholder="Name" class="appTextbox" />
      </div>
      <div class="col2">
        <input type="text" placeholder="Email" class="appTextbox" />
      </div>
      <div class="col2">
        <input type="text" placeholder="Mobile Number" class="appTextbox" />
      </div>
      <div class="col2">
        <input type="text" placeholder="Date" class="appTextbox" />
      </div>
      <div class="fullCol">
        <label>Select Time</label>
        <mat-select>
          <mat-option *ngFor="let time of times" [value]="time.value">
            {{ time.viewValue }}
          </mat-option>
        </mat-select>
      </div>
      <div class="fullCol btnWrap">
        <button type="submit" class="readMoreBtn">Book</button>
      </div>
    </form>
  </section>
</div>
