<div class="innerpage">
  <div class="headerBand">
    <div class="contentWrap">
      <h1>Services</h1>
    </div>
  </div>
  <div class="bodyContent">
    <div class="contentWrap">
      <div class="pageIntro">
        <figure>
          <img src="../../assets/images/image1.jpg" alt="">
        </figure>
        <section>
          <h2>Lorem ipsum dolor sit.</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique hic pariatur quas vitae temporibus! Inventore adipisci praesentium facere eos magni ipsam reiciendis, voluptate nostrum harum? Aliquid, cumque. Adipisci!</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique hic pariatur quas vitae temporibus! Inventore adipisci praesentium facere eos magni ipsam reiciendis, voluptate nostrum harum? Aliquid, cumque. Adipisci!</p>
        </section>
      </div>
    </div>
  </div>
  <div class="servicesList">
    <div class="contentWrap">
      <h2>Our Services</h2>
      <ul>
        <li>
          <figure style="background-image: url('../../assets/images/teeth-whitening.jpg');"></figure>
          <h3>Teeth whitening</h3>
        </li>
        <li>
          <figure style="background-image: url('../../assets/images/teeth-cleaning.jpg');"></figure>
          <h3>Teeth cleaning</h3>
        </li>
        <li>
          <figure style="background-image: url('../../assets/images/brackets.jpg');"></figure>
          <h3>Brackets</h3>
        </li>
        <li>
          <figure style="background-image: url('../../assets/images/image2.jpg');"></figure>
          <h3>Quality Brackets</h3>
        </li>
        <li>
          <figure style="background-image: url('../../assets/images/cosmetic-dentistry.jpg');"></figure>
          <h3>Cosmetic dentistry</h3>
        </li>
        <li>
          <figure style="background-image: url('../../assets/images/pediatric-dentistry.jpg');"></figure>
          <h3>Pediatric dentistry</h3>
        </li>
        <li>
          <figure style="background-image: url('../../assets/images/family-dental-care.jpg');"></figure>
          <h3>Family dental care</h3>
        </li>
      </ul>
    </div>
  </div>
</div>
