<div class="innerpage">
  <div class="headerBand">
    <div class="contentWrap">
      <h1>Services</h1>
    </div>
  </div>
  <div class="bodyContent">
    <div class="contentWrap">
      <div class="pageIntro">
        <figure>
          <img src="../../assets/images/services.jpg" alt="">
        </figure>
        <section>
          <h2>Services at Denteazee Dental Clinic</h2>
          <p>Dental services are an essential part of one's health and well-being. They are not only important for the teeth, but also for the oral cavity, jaws, and gums. The dental team at our office includes dentists, dental hygienists, and dental assistants.</p>
          <p>We provide world class treatment at an affordable cost for our patients. All our doctors are well trained and we follow the highest safety protocol to make sure our patients are safe and comfortable.</p>
        </section>
      </div>
      <div class="serviceDetails">
        <section>
            <figure><img src="../../assets/images/pediatric-dentistry.jpg" alt=""></figure>
            <div class="serviceContent">
              <h2>Scaling and polishing</h2>
              <p>Scaling and polishing is a treatment for removing dental plaque, tartar, and extrinsic stains from the teeth's exterior surface.</p>
              <p>If there are many stains on the outer surface of the teeth, teeth may seem lighter after scaling and polishing.</p>
            </div>
        </section>
        <section>
            <figure><img src="../../assets/images/pediatric-dentistry.jpg" alt=""></figure>
            <div class="serviceContent">
              <h2>Single visit root canal Treatment</h2>
              <p>Single visit root canal therapy is a nonsurgical, conservative root canal treatment that involves complete chemo-mechanical preparation and obturation of the root canal in a single visit.</p>
              <p>Magnifying loupes, surgical microscopes, ultrasonic equipment, NiTi Rotary tool systems, and new obturation systems, which are amenable to one-visit root canal treatments, have all been introduced as a suitable alternative to traditional endodontic treatment.</p>
            </div>
        </section>
        <section>
            <figure><img src="../../assets/images/pediatric-dentistry.jpg" alt=""></figure>
            <div class="serviceContent">
              <h2>Painless Dentistry</h2>
              <p>Because it uses safe and moderate kinds of sedation to soothe the patient before any surgery, painless dentistry is sometimes known as sedation dentistry. This method not only relieves anxiety, but it also numbs the problematic areas, preventing the patient from feeling the dentist's and hygienist's work. The procedure is finished by the time the sedative wears off, and the patient is ready to go home.</p>
            </div>
        </section>
        <section>
            <figure><img src="../../assets/images/pediatric-dentistry.jpg" alt=""></figure>
            <div class="serviceContent">
              <h2>Laser Dentistry</h2>
              <p>Laser dentistry refers to the use of lasers to treat a variety of dental issues. When compared to drills and other non-laser equipment, laser dentistry may provide a more comfortable treatment alternative for a variety of dental treatments involving hard or soft tissue. Lasers can improve the efficiency, cost-effectiveness, and comfort of dental treatments. Laser dentistry has been recognised by the Food and Drug Administration (FDA) as a therapy option for a variety of dental disorders.</p>
            </div>
        </section>
        <section>
            <figure><img src="../../assets/images/pediatric-dentistry.jpg" alt=""></figure>
            <div class="serviceContent">
              <h2>Full Mouth Rehabilitation</h2>
              <p>The term "full mouth reconstruction" refers to the rebuilding and/or replacement of all of a patient's teeth. Full mouth reconstructions combine aesthetics with restorative dentistry research to restore the mouth's health, function, and appearance.</p>
            </div>
        </section>
        <section>
            <figure><img src="../../assets/images/pediatric-dentistry.jpg" alt=""></figure>
            <div class="serviceContent">
              <h2>Tooth Whitening</h2>
              <p>Tooth whitening, also known as tooth bleaching, is a procedure that involves lightening the colour of a person's teeth. When teeth get yellowed over time for a variety of causes, whitening is often desired, and it can be accomplished by changing the intrinsic or extrinsic colour of the tooth enamel</p>
            </div>
        </section>
        <section>
            <figure><img src="../../assets/images/pediatric-dentistry.jpg" alt=""></figure>
            <div class="serviceContent">
              <h2>Inlays & Onlays</h2>
              <p>Inlays and onlays are a type of indirect restoration in dentistry, meaning they are created outside of the mouth as a single, solid piece that fits the particular size and shape of the cavity and is cemented into place in the tooth. This is an alternative to a direct restoration, made out of composite, amalgam or glass ionomer, that is built up within the mouth This is an alternative to a direct restoration, made out of composite, amalgam or glass ionomer, that is built up within the mouth</p>
              <p>The number and portion of the tooth that they cover are the most important comparisons. An inlay covers the chewing surface between the cusps and includes the pits and fissures of the tooth. One or more cusps will be covered in an onlay. This is achieved if all cusps and the full surface of the tooth are covered. This is then known as a crown</p>
            </div>
        </section>
        <section>
            <figure><img src="../../assets/images/pediatric-dentistry.jpg" alt=""></figure>
            <div class="serviceContent">
              <h2>Gum Surgery</h2>
              <p>Gum surgery, also known as periodontal surgery, is a type of dental surgery that prevents or corrects deficiencies in the bone, gingiva, or alveolar mucosa caused by anatomical, physical, developmental, or plaque-induced problems.</p>
              <p>Accessibility of instruments to the root surface, inflammation elimination, the creation of an oral environment for plaque control, periodontal disease control, oral hygiene maintenance, maintaining proper embrasure space, addressing gingiva-alveolar mucosa problems, and aesthetic improvement are all goals of this surgery. Crown lengthening, frenectomy, and mucogingival flap surgery are among the surgical techniques available.</p>
            </div>
        </section>
        <section>
            <figure><img src="../../assets/images/pediatric-dentistry.jpg" alt=""></figure>
            <div class="serviceContent">
              <h2>Crown & Bridges</h2>
              <p>A crown or cap is a dental repair that strengthens or improves the appearance of a tooth by covering the visible surface. A dental bridge is used to replace one or more lost teeth. It consists of a false tooth or teeth bonded to crowns on both sides to provide support. Crowns and bridges are composed of various materials and are designed to complement the natural shape and strength of the teeth.</p>
            </div>
        </section>
        <section>
            <figure><img src="../../assets/images/pediatric-dentistry.jpg" alt=""></figure>
            <div class="serviceContent">
              <h2>Invisalign</h2>
              <p>Invisalign is an orthodontic treatment that straightens teeth using clear aligners rather than metal braces. Invisalign is a clear braces system that covers your teeth and moves them into the proper position over time. Because they are clear and can be taken on and off, they are less apparent than standard metal braces.</p>
              <p>The majority of people want to improve their smile, but many feel metal braces are the only option to do so. When you use Invisalign clear braces, there are no metal brackets or wires to distract from your smile. With Invisalign transparent braces, your teeth can be comfortable, beautiful, and precisely aligned in half the time it would take with traditional braces.</p>
            </div>
        </section>
        <section>
            <figure><img src="../../assets/images/pediatric-dentistry.jpg" alt=""></figure>
            <div class="serviceContent">
              <h2>Smile Designing</h2>
              <p>The process through which a dentist plans and visualises a patient's desired smile is known as smile design. Sometimes it's only a matter of addressing some of the flaws in your teeth that you're self-conscious about.</p>
            </div>
        </section>
        <section>
            <figure><img src="../../assets/images/pediatric-dentistry.jpg" alt=""></figure>
            <div class="serviceContent">
              <h2>Conscious Sedation</h2>
              <p>Conscious sedation is a combination of medicines to help you relax (a sedative) and to block pain (an anaesthetic) during a medical or dental procedure. You'll most likely stay awake, but you won't be able to communicate.</p>
            </div>
        </section>
      </div>
    </div>
  </div>

  <!-- <div class="servicesList">
    <div class="contentWrap">
      <h2>Our Services</h2>
      <ul>
        <li>
          <figure style="background-image: url('../../assets/images/teeth-whitening.jpg');"></figure>
          <h3>Teeth whitening</h3>
        </li>
        <li>
          <figure style="background-image: url('../../assets/images/teeth-cleaning.jpg');"></figure>
          <h3>Teeth cleaning</h3>
        </li>
        <li>
          <figure style="background-image: url('../../assets/images/brackets.jpg');"></figure>
          <h3>Brackets</h3>
        </li>
        <li>
          <figure style="background-image: url('../../assets/images/image2.jpg');"></figure>
          <h3>Quality Brackets</h3>
        </li>
        <li>
          <figure style="background-image: url('../../assets/images/cosmetic-dentistry.jpg');"></figure>
          <h3>Cosmetic dentistry</h3>
        </li>
        <li>
          <figure style="background-image: url('../../assets/images/pediatric-dentistry.jpg');"></figure>
          <h3>Pediatric dentistry</h3>
        </li>
        <li>
          <figure style="background-image: url('../../assets/images/family-dental-care.jpg');"></figure>
          <h3>Family dental care</h3>
        </li>
      </ul>
    </div>
  </div> -->
</div>
