<div class="innerpage">
  <div class="headerBand">
    <div class="contentWrap">
      <h1>Orthodontics</h1>
    </div>
  </div>
  <div class="bodyContent">
    <div class="contentWrap">
      <div class="pageIntro">
        <figure>
          <img src="../../assets/images/image2.jpg" alt="">
        </figure>
        <section>
          <h2>Introduction to Orthodontics</h2>
          <p>Orthodontics is the branch of dentistry that corrects teeth and jaws that are positioned improperly. Crooked teeth and teeth that do not fit together correctly are harder to keep clean, are at risk of being lost early due to tooth decay and periodontal disease, and cause extra stress on the chewing muscles that can lead to headaches, TMJ syndrome, and neck, shoulder and back pain. Teeth that are crooked or not in the right place can also detract from one 's appearance. The benefits of orthodontic treatment include a healthier mouth, a more pleasing appearance, and teeth that are more likely to last a lifetime.</p>
          <p>Orthodontic treatment uses appliances to correct the position of teeth.</p>
        </section>
      </div>
    </div>
  </div>
  <div class="orthodonticsList">
    <div class="contentWrap">
      <ul>
        <li>
          <figure style="background-image: url('../../assets/images/image1.jpg');"></figure>
          <section>
            <h3>Fixed Braces</h3>
            <p>Fixed braces are the most common type of orthodontic appliance. A few days after a fixed brace is fitted you'll be able to eat a normal range of foods. But you should avoid certain foods and drinks, such as toffee, hard sweets, and fizzy drinks, as these can damage the appliance and your teeth. If you're using a fixed appliance and you play a contact sport such as rugby, you should wear a gum shield to protect both your mouth and the appliance.</p>
          </section>
        </li>
        <li>
          <figure style="background-image: url('../../assets/images/image2.jpg');"></figure>
          <section>
            <h3>Removable Braces</h3>
            <p>Removable braces can be used to correct minor problems or as part of fixed-brace treatment. They can also sometimes be used to discourage children from sucking their thumb, but this is not available on the NHS. These braces should only be taken out of your mouth for cleaning or as a precaution during certain activities. Your orthodontist can advise you about this.</p>
          </section>
        </li>
        <li>
          <figure style="background-image: url('../../assets/images/image1.jpg');"></figure>
          <section>
            <h3>Functional Appliances</h3>
            <p>Functional appliances can be used to treat problems with the position of the upper and lower jaw and teeth. Most people need to wear them all the time. It's very important to follow your orthodontist's instructions about how and when to wear the appliance. If it's not worn correctly, the treatment will not work. It may be necessary to remove your functional appliance for cleaning and while you're eating.</p>
          </section>
        </li>
        <li>
          <figure style="background-image: url('../../assets/images/image2.jpg');"></figure>
          <section>
            <h3>Headgear</h3>
            <p>Headgear is used to correct the position of the back teeth or to keep them in position while the front teeth are being treated. Most people only need to wear headgear in the evening and during the night. You will not be able to eat or drink while wearing headgear.</p>
          </section>
        </li>
      </ul>
    </div>
  </div>
</div>
