<div class="innerpage">
  <div class="headerBand">
    <div class="contentWrap">
      <h1>Testimonials</h1>
    </div>
  </div>
  <div class="bodyContent">
    <div class="contentWrap">
      <p class="pageDesc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis vitae fugit quia eum libero, ipsam eius provident incidunt porro. Obcaecati.</p>
      <div class="testimonialsList">
        <section class="testimonialItem">
          <figure style="background-image: url(../../assets/images/profile.jpg);"></figure>
          <aside>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae magni nemo harum impedit quasi voluptatum qui dolore ea blanditiis veniam, dolores molestias non cum, consequatur facilis quisquam distinctio optio mollitia.</p>
            <strong>Client Name</strong>
            <span class="icon-quotes-left"></span>
            <span class="icon-quotes-right"></span>
          </aside>
        </section>

        <section class="testimonialItem">
          <figure style="background-image: url(../../assets/images/profile.jpg);"></figure>
          <aside>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae magni nemo harum impedit quasi voluptatum qui dolore ea blanditiis veniam, dolores molestias non cum, consequatur facilis quisquam distinctio optio mollitia.</p>
            <strong>Client Name</strong>
            <span class="icon-quotes-left"></span>
            <span class="icon-quotes-right"></span>
          </aside>
        </section>

        <section class="testimonialItem">
          <figure style="background-image: url(../../assets/images/profile.jpg);"></figure>
          <aside>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae magni nemo harum impedit quasi voluptatum qui dolore ea blanditiis veniam, dolores molestias non cum, consequatur facilis quisquam distinctio optio mollitia.</p>
            <strong>Client Name</strong>
            <span class="icon-quotes-left"></span>
            <span class="icon-quotes-right"></span>
          </aside>
        </section>
      </div>
    </div>
  </div>
</div>
