<div class="innerpage">
  <div class="headerBand">
    <div class="contentWrap">
      <h1>Testimonials</h1>
    </div>
  </div>
  <div class="bodyContent">
    <div class="contentWrap">
      <p class="pageDesc">What our patients say about us</p>
      <div class="testimonialsList">
        <section class="testimonialItem">
          <figure></figure>
          <aside>
            <p>It was just an accident that i entered dent eazee for enquiry of an implantation. I was surprised that the basic steps for implantation was completed for me on the same day I entered the clinic . things were planned such that all necessary procedures were completed before 3 weeks as i was travelling abroad . Appointments were given at times which were comfortable for me. Above  all Vimala and Geetha and her husband Mr. Babu was really kind and knew how to handle the patients .I am extremely happy that I chose them.</p>
            <strong>Jayalakshmi</strong>
            <span class="icon-quotes-left"></span>
            <span class="icon-quotes-right"></span>
          </aside>
        </section>

        <section class="testimonialItem">
          <figure></figure>
          <aside>
            <p>I came here with some chain of serious tooth aches which I kept neglecting. The diagnosis is “one time” . They don't jump directly into the wrong conclusion… . Both the doctors are  really very patient enough to clear all my doubts . In fact I even learnt a bit of dentistry which i can proudly say ! </p>
            <p>Thank you doc for restoring my smile back.</p>
            <strong>K. Kavinmathi</strong>
            <span class="icon-quotes-left"></span>
            <span class="icon-quotes-right"></span>
          </aside>
        </section>

        <section class="testimonialItem">
          <figure></figure>
          <aside>
            <p>To my dear teachers<br>
              Dr. plani sir & Dr . Vimala mam . it's your unique guidance and methods that urged me to excel in all that i do and to pursue for
              You both are not just teachers but a true inspiration for me.
              You both are always the best waiting to learn more and work with both of you!!
              Its been more than 5 years I know you both and you both have always been a wow factor to me.</p>
              <p>Keep inspiring me always and love you both a lot</p>
              <strong>Dr. Sathya Priya</strong>
            <span class="icon-quotes-left"></span>
            <span class="icon-quotes-right"></span>
          </aside>
        </section>
        <section class="testimonialItem">
          <figure></figure>
          <aside>
            <p>Dr .K. Vimala geetha and Dr .M.Phambabu were very friendly and very approachable. I have never felt so comfortable with a doctor like this before .Dr.M.Phambabu did a procedure for my daughter Rachel who is 7 years old, some filling cap and sliff. Dr. Phani was very concerned and did a fabulous job. And I had my fillings and root canal and cap done by Dr.K. Vimala and again she was very friendly and awesome very satisfied with my visit here and will continue to come here and will also recommend dent EAzee</p>
            <strong>Aruna Rooban</strong>
            <span class="icon-quotes-left"></span>
            <span class="icon-quotes-right"></span>
          </aside>
        </section>
        <section class="testimonialItem">
          <figure></figure>
          <aside>
            <p>This dental centre was recommended by Dr. Hishamuddin Papa and we are happy with the service and medications we received.
              Will recommend my friends to do consultation and medications from this centre
              I am hereby thank to Dr. Babu for his service
              </p>
            <strong>Ibrahim didi, Maldives</strong>
            <span class="icon-quotes-left"></span>
            <span class="icon-quotes-right"></span>
          </aside>
        </section>
        <section class="testimonialItem">
          <figure></figure>
          <aside>
            <p>My two years old daughter was suffering from tooth decay and she used to keep the food  in her mouth for a very long period of time .We came to Dr. Phanibabu for consultation, he asked us to go for the treatment immediately .We were very skeptical initially as to whether to go or not. But then when we went for pulp therapy and filings my daughter’s eating habits improved drastically . she started to chew all the food items instead of gobbling  up .Also her fluid intake improved exponentially within a month of treatment . We thank the doctor for his valuable advice post treatment and for the wonderful smile he has restored for my daughter ,we are extremely happy for having chosen him</p>
            <strong>Sriram. S</strong>
            <span class="icon-quotes-left"></span>
            <span class="icon-quotes-right"></span>
          </aside>
        </section>
      </div>
    </div>
  </div>
</div>
