<div class="bannerSlider">
  <swiper class="mySwiper" [config]="configBanner">
    <ng-template swiperSlide>
      <div class="homeBannerSlideItem slide1">
        <div class="contentWrap">
          <figure>
            <img src="../../assets/images/home-slide1.png" alt="" />
          </figure>
          <div class="slideItemContent">
            <div class="line1">Welcome to Denteazee!</div>
            <div class="boxText">One Stop for all</div>
            <div class="boxText">Dental Needs</div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="homeBannerSlideItem slide2">
        <div class="contentWrap">
          <figure>
            <img src="../../assets/images/home-slide2.png" alt="" />
          </figure>
          <div class="slideItemContent">
            <div class="boxText">World Class Dental Services</div>
            <div class="boxText">Now in Chennai</div>
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>
</div>

<div class="contentWrap">
  <div class="welcome">
    <h1>Welcome to Denteazee&nbsp;dental&nbsp;clinic</h1>
    <h2>
      Denteazee dental clinic is the crown jewel of Chennai's dental industry
    </h2>
  </div>
  <div class="homeServices">
    <div class="blockHeading">
      <h2>Our Services</h2>
      <h3>What we do</h3>
    </div>
    <ul>
      <li [routerLink]="['/services']">
        <section class="normalView">
          <span class="serviceIcon icon-teeth-whitening"></span>
          <h3>Scaling & Polishing</h3>
        </section>
        <section class="hoverView">
          <h3>Scaling & Polishing</h3>
          <p class="desc">
            Scaling and polishing is a treatment for removing dental plaque, tartar, and extrinsic stains from the teeth's exterior surface.
          </p>
          <span class="readMore">Read More</span>
        </section>
      </li>

      <li [routerLink]="['/services']">
        <section class="normalView">
          <span class="serviceIcon icon-root-canal"></span>
          <h3>Root Canal</h3>
        </section>
        <section class="hoverView">
          <h3>Root Canal</h3>
          <p class="desc">
            Single visit root canal therapy is a nonsurgical, conservative root canal treatment that involves complete chemo-mechanical preparation and obturation of the root canal in a single visit.
          </p>
          <span class="readMore">Read More</span>
        </section>
      </li>
      <li [routerLink]="['/services']">
        <section class="normalView">
          <span class="serviceIcon icon-painless"></span>
          <h3>Painless Dentistry</h3>
        </section>
        <section class="hoverView">
          <h3>Painless Dentistry</h3>
          <p class="desc">
            Because it uses safe and moderate kinds of sedation to soothe the patient before any surgery, painless dentistry is sometimes known as sedation dentistry.
          </p>
          <span class="readMore">Read More</span>
        </section>
      </li>
      <li [routerLink]="['/services']">
        <section class="normalView">
          <span class="serviceIcon icon-laser"></span>
          <h3>Laser Dentistry</h3>
        </section>
        <section class="hoverView">
          <h3>Laser Dentistry</h3>
          <p class="desc">
            Laser dentistry refers to the use of lasers to treat a variety of dental issues. When compared to drills and other non-laser equipment, laser dentistry may provide a more comfortable treatment
          </p>
          <span class="readMore">Read More</span>
        </section>
      </li>
      <li [routerLink]="['/services']">
        <section class="normalView">
          <span class="serviceIcon icon-mouth"></span>
          <h3 style="font-size: 1.8rem;">Full Mouth Rehabilitation</h3>
        </section>
        <section class="hoverView">
          <h3>Full Mouth Rehabilitation</h3>
          <p class="desc">
            The term "full mouth reconstruction" refers to the rebuilding and/or replacement of all of a patient's teeth. Full mouth reconstructions combine aesthetics with restorative dentistry
          </p>
          <span class="readMore">Read More</span>
        </section>
      </li>
      <li [routerLink]="['/services']">
        <section class="normalView">
          <span class="serviceIcon icon-teeth-cleaning"></span>
          <h3>Tooth Whitening</h3>
        </section>
        <section class="hoverView">
          <h3>Tooth Whitening</h3>
          <p class="desc">
            Tooth whitening, also known as tooth bleaching, is a procedure that involves lightening the colour of a person's teeth.
          </p>
          <span class="readMore">Read More</span>
        </section>
      </li>
      <li [routerLink]="['/services']">
        <section class="normalView">
          <span class="serviceIcon icon-inlay"></span>
          <h3>Inlays & Onlays</h3>
        </section>
        <section class="hoverView">
          <h3>Inlays & Onlays</h3>
          <p class="desc">
            Inlays and onlays are a type of indirect restoration in dentistry, meaning they are created outside of the mouth as a single, solid piece that fits the particular size and shape of the cavity
          </p>
          <span class="readMore">Read More</span>
        </section>
      </li>
    </ul>
  </div>
  <app-book-appoinment></app-book-appoinment>
</div>

<!-- Testimonials -->
<div class="testimonialWrap">
  <div class="contentWrap">
    <div class="blockHeading">
      <h2>Testimonials</h2>
      <h3>What our patients say about us</h3>
    </div>
    <div class="testimonySlider">
      <swiper class="mySwiper" [config]="configTestimonial">
        <ng-template swiperSlide>
          <div class="testimonyItem">
            <div class="desc">
              <p>It was just an accident that i entered dent eazee for enquiry of an implantation. I was surprised that the basic steps for implantation was completed for me on the same day I entered the clinic . things were planned such that all necessary procedures were completed before 3 weeks as i was travelling abroad . Appointments were given at times which were comfortable for me. Above  all Vimala and Geetha and her husband Mr. Babu was really kind and knew how to handle the patients .I am extremely happy that I chose them.</p>
            </div>
            <div class="username">- Jayalakshmi</div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="testimonyItem">
            <div class="desc">
              <p>I came here with some chain of serious tooth aches which I kept neglecting. The diagnosis is “one time” . They don't jump directly into the wrong conclusion… . Both the doctors are  really very patient enough to clear all my doubts . In fact I even learnt a bit of dentistry which i can proudly say ! </p>
              <p>Thank you doc for restoring my smile back.</p>
            </div>
            <div class="username">- K. Kavinmathi</div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="testimonyItem">
            <div class="desc">
              <p>To my dear teachers<br>
                Dr. plani sir & Dr . Vimala mam . it's your unique guidance and methods that urged me to excel in all that i do and to pursue for
                You both are not just teachers but a true inspiration for me.
                You both are always the best waiting to learn more and work with both of you!!
                Its been more than 5 years I know you both and you both have always been a wow factor to me.</p>
                <p>Keep inspiring me always and love you both a lot</p>
            </div>
            <div class="username">- Dr. Sathya Priya</div>
          </div>
        </ng-template>
      </swiper>
    </div>
    <a href="" class="readMoreBtn">View More</a>
  </div>
</div>

<div class="homeDoctors">
  <div class="contentWrap">
    <div class="blockHeading">
      <h2>Meet Our Doctors</h2>
      <h3>Team of Professionals</h3>
    </div>
    <ul>
      <li>
        <figure></figure>
        <h4>Dr. Phani Babu</h4>
        <div class="degree">BDS, MDS</div>
        <p>
          Having qualified from Meenakshi Ammal University in 2009, where he
          graduated with a gold medal in Pediatric dentistry, he has lived and
          worked locally since then. He is committed to continually developing
          his skills and is regularly involved in undergraduate and postgraduate
          learning. He is keen on delivering quality dental care to all
          patients. Consultant pediatric dentist in the best and leading dental
          clinics in Chennai including Rajan’s Dental Institute, Dr. Udayaraja
          Dental clinic, a former consultant at Dr. Smilez chain of dental
          clinics, Chennai. One of the few pediatric dentists in Chennai who had
          performed over 300 full mouth rehabilitation cases for children of
          various ages with various dental problems and special needs.
        </p>
      </li>
      <li>
        <figure></figure>
        <h4>Dr. Vimala Geetha</h4>
        <div class="degree">BDS, MDS</div>
        <p>
          Qualified from Sri Ramachandra Dental College and Research Centre in
          2008, where she excelled in her post-graduate program with merit,
          hails from a family of celebrities but has chosen to create her own
          identity in the dental specialty. Her passion for dentistry has helped
          her undergo training in various fields and perform a wide range of
          dental treatments. Cosmetic designing and smile makeovers are her
          specialties. A former pediatric dental consultant of Dr. Acharya”s
          dental clinics. Experienced in treating many abroad patients with
          different dental needs.
        </p>
      </li>
    </ul>
  </div>
</div>

<div class="WhyUs">
  <div class="contentWrap">
    <div class="blockHeading">
      <h2>Why Choose Us</h2>
      <h3>Let Us Help You</h3>
    </div>
    <ul>
      <li>Friendly & well-trained chair side assistants</li>
      <li>Smile Designing</li>
      <li>Digital analysis of the jaws and teeth</li>
      <li>Diagnosis using the intraoral camera & Digital Photographs</li>
      <li>Sterile & up-to-date equipments</li>
      <li>We practice specialty dental care and quality treatment delivery</li>
      <li>Customised treatment planning with all the specialists at a time</li>
      <li>24 hour / round the clock on-call emergency services</li>
      <li>Home visits for patients with special care needs</li>
      <li>Root canal fillings in one visit</li>
      <li>Latest all ceramic with zirconium crowns & bridges</li>
      <li>Friendly & Well trained Dentists & Staff</li>
    </ul>

    <div class="whyUsTab">
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Kids Dentist">
          <div class="whyChooseUsTab">
            <figure
              style="
                background-image: url('../../assets/images/pediatric-dentistry.jpg');
              "
            ></figure>
            <section>
              <h3>Pediatric dentistry</h3>
              <p>
                Pediatric dentists are dedicated to the oral health of children
                from infancy through the teen years. They have the experience
                and qualifications to care for a child’s teeth, gums, and mouth
                throughout the various stages of childhood. Children are not
                just small adults. They are not always able to be patient and
                cooperative during a dental exam. Pediatric dentists know how to
                examine and treat children.
              </p>
            </section>
          </div>
        </mat-tab>
        <mat-tab label="Oral Surgery">
          <div class="whyChooseUsTab">
            <figure
              style="
                background-image: url('../../assets/images/teeth-cleaning.jpg');
              "
            ></figure>
            <section>
              <h3>Oral and maxillofacial surgery</h3>
              <p>
                Oral surgery deals with the treatment and ongoing management of
                irregularities and pathology of the jaw and mouth that require
                surgical intervention. Surgically removing teeth is the most
                common procedure that oral surgeons perform, but oral surgery as
                a specialty has a broad scope. This includes managing hard and
                soft tissue pathology, oral infections, dentoalveolar trauma,
                and oro-facial pain, and others.
              </p>
            </section>
          </div>
        </mat-tab>
        <mat-tab label="Orthodontics">
          <div class="whyChooseUsTab">
            <figure
              style="background-image: url('../../assets/images/profile.jpg')"
            ></figure>
            <section>
              <h3>Orthodontic Treatment</h3>
              <p>
                Orthodontics is the branch of dentistry concerned with the
                growth of the face, the development of teeth and jaws, and the
                correction and prevention of abnormalities. Orthodontics has a
                strong hospital-based consultant service that concentrates on
                treating more severe abnormalities. That said, orthodontic
                specialty practice in the high street is well-developed and
                expanding with opportunities for NHS.
              </p>
            </section>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
